* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1 {display:flex;
    font-family:impact;
font-size:30px;
color:black;
text-align:center;
justify-content: center;
border-style:dotted;
padding:15px;
margin-top:10px;
}

h2 {display:flex;
font-family: monospace;
font-size: 23px;
text-align:center;
justify-content: center;
padding:20px;}


.board {
    display:grid;
    background-color: rgb(182, 80, 80);
    height:500px;
    width:500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin:20px;
    position: relative;
}

.cell{ border-style: solid;
    border-width: 1px;
    display:flex;
    align-items: center;
    justify-content: center;
}

body {display:flex;
    align-items: center;
    justify-content: center;
}

#resetButton:hover, #checkWins:hover, #playComputer:hover, #resetScoreboard:hover, #submitName:hover {
    background-color:rgb(132, 228, 255);
}

#resetButton {
    background-color: antiquewhite;
    margin:10px;
    border-style:solid;
    border-width: 2px;
    padding:5px;
}


#playComputer {
    background-color: antiquewhite;
    margin:10px;
    border-style:solid;
    border-width: 2px;
    padding:5px;
}

#resetScoreboard {
    background-color: antiquewhite;
    margin:10px;
    border-style:solid;
    border-width: 2px;
    padding:5px;
}
.cell {
    border: 2px solid black;
    font-size:60px;
    font-family:impact;
    font-weight: light;
}

.all {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-style:solid;
    background-color: lightgrey;

}

#submitName {
    background-color: antiquewhite;
}

#playerStatus {
    color:black;
    font-size: 20px;
    font-family:monospace;
}
#player1span {
display:flex;
border-style:solid;
border-color: black;
border-width: 2px;
padding:10px;
background-color: rgb(182, 80, 80);
}

#player2span {
    display:flex;
    border-style:solid;
    border-color: black;
    border-width: 2px;
    background-color: rgb(182, 80, 80);
    padding:10px;
}

#strike {
    position:absolute;
    background-color: black;
    
}

.strike-row-1 {
    width: 90%;
    height: 2px;
    top: 17.5%;
    justify-self: center;
}
.strike-row-2 {
    width: 90%;
    height: 2px;
    top: 48%;
    justify-self: center;
}
.strike-row-3 {
    width: 90%;
    height: 2px;
    top: 83%;
    justify-self: center;
}

.strike-column-1 {
    height:90%;
    width: 2px;
    left: 17.5%;
    margin-top:22px;
}

.strike-column-2 {
    height:90%;
    width: 2px;
    left: 48%;
    margin-top:22px;
}

.strike-column-3 {
    height:90%;
    width: 2px;
    left: 83%;
    margin-top:22px;
}

.strike-diagonal-1 {
    width: 100%;
    height: 2px;
    top: 50%;
    transform: skewY(45deg)
}

.strike-diagonal-2 {
    width: 100%;
    height: 2px;
    top: 50%;
    transform: skewY(-45deg);
    
}

#scoreboard {
    box-sizing: border-box;
    border-style:solid;
    border-color: black;
    border-width: 1px;
}

#submitName {
    padding:5px;
}